* {
	box-sizing: border-box;
  }
  
  body {
	margin: 0px;
	font-family: 'Poppins';
  }

  html {
	scroll-behavior: smooth;
  }
  
  .nav {
	padding: 10px;
	width: 100%;
	background-color: #2B348B;
  }
  
  .nav > .nav-header {
	display: inline;
  }
  
  .nav > .nav-header > .nav-title {
	display: inline-block;
	font-size: 22px;
	color: #fff;
	padding: 10px 10px 10px 10px;
  }

  .nav > .nav-header > .nav-title > a {
	display: inline-block;
	text-decoration: none;
	color: #efefef;
  }
  
  .nav > .nav-btn {
	display: none;
  }
  
  .nav > .nav-links {
	display: inline;
	float: right;
	font-size: 14px;
  }
  
  .nav > .nav-links > a {
	display: inline-block;
	padding: 13px 10px 13px 10px;
	text-decoration: none;
	color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
	color: #d4d4d4;
  }
  
  .nav > #nav-check {
	display: none;
  }
  
  @media (max-width:500px) {
	.nav > .nav-btn {
	  display: inline-block;
	  position: absolute;
	  right: 3px;
	  top: 10px;
	}
	.nav > .nav-btn > label {
	  display: inline-block;
	  width: 50px;
	  height: 50px;
	  padding: 13px;
	}
	.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
	  background-color: #2B348B;
	}
	.nav > .nav-btn > label > span {
	  display: block;
	  width: 25px;
	  height: 10px;
	  border-top: 2px solid #eee;
	}
	.nav > .nav-links {
	  position: absolute;
	  display: block;
	  width: 100%;
	  padding: 30px;
	  text-align: left;
	  background-color: #2B348B;
	  height: 0px;
	  transition: all 0.3s ease-in;
	  overflow-y: hidden;
	  top: 50px;
	  left: 0px;
	}
	.nav > .nav-links > a {
	  display: block;
	  width: 100%;
	}
	.nav > #nav-check:not(:checked) ~ .nav-links {
	  height: 0px;
	}
	.nav > #nav-check:checked ~ .nav-links {
	  height: calc(100vh - 50px);
	  overflow-y: auto;
	}
  }

  .newHeader {
	padding-top: calc(7rem + 2px);
	padding-bottom: 1rem;
  }
  
  .newHeader-headline {
	padding: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
  }
  
  .newHeader-h1 {
	text-align: center;
	font-family: Poppins;
	font-weight: 400;
	font-size: 40px;
	color: #2B348B;
  }
  
  .newHeader-h2 {
	text-align: center;
	font-family: Poppins;
	font-weight: 400;
	font-size: 26px;
	color: #2B348B;
  }
  
  .newHeader-img {
	width: 15rem;
	border-radius: 50%;
  }
  
  .header-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .row {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
	padding-bottom: 1rem;
  }
  
  .column {
	color: #313639;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
	padding-bottom: 1rem;
  
  }

  /* About Section */

  .about {
	font-family: Poppins;
	font-weight: 200;
	background-color: #2B348B;
	color: white;
  }
  
  .about-text {
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin: auto;
	text-align: left;
	min-width: 300px;
	max-width: 50%;
  }
  
  .about-header {
	font-size: 30px;
	font-weight: 400;
  }

  /* Technical Skills Section */
  .technical {
	font-family: Poppins;
	font-weight: 200;
	background-color: #F5F5F5;
	color: black;
  }
  
  .technical-text {
	color: #313639;
	padding-top: 2rem;
	padding-bottom: 2rem;
	margin: auto;
	text-align: left;
	min-width: 300px;
	max-width: 50%;
  }
  
  .technical-header {
	font-size: 30px;
	font-weight: 400;
  }

  .skills-logos {
	  font-size: 50px;
	  color: #2B348B;
	  text-align: center;
  }

  #logo {
	  padding-left: 5px;
  }

  /* Footer */
  .footer {
	background-color: #2B348B;
	color: #fff;
	font-family: Poppins;
	font-weight: 200;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	margin: auto;
	text-align: center;

  }

  .footer-text > a {
	  color: #fff;
	  font-size: 25px;
	  text-decoration: none;
	  padding-left: 10px;
  }

  .footer-text > a:hover {
	color: #FFCC43;
}