body {
    background: #fff;
    /* background: linear-gradient(150deg, #2B348B 50%, #fff 100%); */
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;	
    font-size: 15px;
    letter-spacing: 1.5px;
    margin-bottom: 20vh;
}

img {
    border-radius: 50%;
}

.profile-picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    height: auto;
    max-width: 120px;
}
    
.profile {
    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;   
    margin: 0;
}

.name{
    padding: 20 20 7 30px;
	text-decoration: none;
}

.header{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    max-width: 90vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 105%;
}

.links {
    text-align: center;
    margin-top: 12px;
    padding: 18px;
    border: 1px solid #2B348B;
    border-width: 2px;
    width: 400px;
    max-width: 80vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    text-decoration: none;
}

a {
    color: #2B348B;
    transition: color 0.5s;
}

a.links:hover {
    color: #fff;
    background: #2B348B;
	transition: ease-in 0.3s;
}

.bottom-text {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}





























